@using Newtonsoft.Json.Linq;
@using aFun.Models;
@{
    ViewBag.Title = "Thư viện - afun.vn";
    ViewBag.Description = "Thư viện - afun.vn";
    ViewBag.Keywords = "Thư viện - afun.vn";
    ViewBag.Images = "http://afun.vn/Content/images/logo_600x600.png";
    ViewBag.UrlWeb = "http://afun.vn/";
    ViewBag.UrlWap = "http://m.afun.vn/";
    ///////////////////////////////////////////////////////////////////////////////
    int i = 0;
    string cls_active = "";
    JArray ma = (JArray)ViewBag.ma;
}
<div class="breadcum">
    <div class="p5">
        <a href="/">
            <img src="/Content/images/home.png" alt="icon home" class="ico_home" /></a><img src="/Content/images/icon_arrow.png" alt="arrow" class="arrow" /><span class="active">Thư viện</span>
    </div>
</div>
<div class="p10">
    <div class="content_main taikhoan">
        <div class="canhan">
            <ul>
                <li><a href="/thu-vien/sach-dang-doc"><i class="icon-info-sign"></i>Sách đang đọc</a></li>
                <li><a href="/thu-vien/tu-sach"><i class="icon-info-sign"></i>Tủ sách cá nhân</a></li>
                <li><a href="/thu-vien/sach-yeu-thich"><i class="icon-info-sign"></i>Sách yêu thích</a></li>
                <li><a href="/thu-vien/kho-video"><i class="icon-play"></i>Video Đã Mua </a></li>
                <li><a href="/tai-khoan"><i class="icon-lock"></i>Tài khoản</a></li>
                <li><a href="/"><i class="icon-lock"></i>Trang chủ</a></li>
            </ul>
        </div>
    </div>
</div>
