<div class="box_dv lk">
    <div class="title_box_dv">
        <a href="#" id="icon_share">Liên kết</a>
    </div>
    <div class="content_box">
        <div class="tin">
            <ul>
                <li><a href="/"><span class="title_tin"><i class="icon-home"></i>Trang chủ</span></a> </li>
                <li><a href="http://beta.kenhnhac.vn/"><span class="title_tin"><i class="icon-globe"></i>kenhnhac.vn</span></a> </li>
                 <li><a href="/gioi-thieu.html" target="_blank"><span class="title_tin"><i class="icon-globe"></i>Giới thiệu</span></a> </li>
                <li><a href="/dieu-khoan-su-dung.html" target="_blank"><span class="title_tin"><i class="icon-globe"></i>Điều khoản</span></a> </li>
                <li><a href="/huong-dan.html" target="_blank"><span class="title_tin"><i class="icon-globe"></i>Hướng dẫn</span></a> </li>
                @*<li><a href="/thanh-toan.html" target="_blank"><span class="title_tin"><i class="icon-globe"></i>Thanh toán</span></a> </li>*@
            </ul>
            <a href="/">
                <div class="btn_xemthem"></div>
            </a>

        </div>
    </div>
</div>
